<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Connect</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="care_title">
        <h2 class="care_name">CareConnect</h2>
        <div id="top_right">
            <img src="{% static "images/elephants.jpg" %}" alt="profile_pic" id="profile_pic" />
            <h5>Odion Fross</h5>
            <span class="glyphicon glyphicon-triangle-bottom" id="top_arrow"></span>
        </div>
    </div>
    <div id="care_body">
        <div class="sidenav">
            <a href="#about"><span class="glyphicon glyphicon-th" class="my_nav"></span>
                <h4>Dashboard</h4>
            </a>
            <a href="#services"><span class="glyphicon glyphicon-user" class="my_nav"></span>
                <h4>Patients</h4>
            </a>
            <a href="#clients"><span class="glyphicon glyphicon-folder-close" class="my_nav"></span>
                <h4>Programs</h4>
            </a>
            <a href="#contact"><span class="glyphicon glyphicon-tasks" class="my_nav"></span>
                <h4>Tasks</h4>
            </a>
        </div>
    </div>
</body>