<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Connect</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div id="care_title">
		<h1>Care Connect</h1>
	</div>
	<div class="col-xl-8 col-md-6">
		<div class="card card-fluid">
			<div class="card-header border-0">
				<form class="care_search" action="/action_page.php">
					<input type="text" placeholder="Search..." name="search">
				  	<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center">
					<thead>
						<tr>
							<th scope="col" class="sort" data-sort="name">Col 1</th>
							<th scope="col" class="sort" data-sort="name">Col 2</th>
							<th scope="col" class="sort" data-sort="name">Col 3</th>
							<th scope="col" class="sort" data-sort="name">Col 4</th>
							<th scope="col" class="sort" data-sort="name">Col 5</th>
							<th scope="col" class="sort" data-sort="name">Col 6</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">data 1</td>
							<td scope="row">data 2</td>
							<td scope="row">data 3</td>
							<td scope="row">data 4</td>
							<td scope="row">data 5</td>
							<td scope="row"><a href="/">data 6</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>