<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Care Connect</title>
    {% load static %}
</head>
<body id="datainput">
    
{% include 'header.html' %}
{% include 'sidebar.html' %}
<div class="rsidebody">
<div class="inputbox">
{% include 'inputdrugs.html' %}
</div>
<div class="inputbox">
{% include 'inputgeneric.html' %}
</div>
<div class="inputbox">
{% include 'inputManufacturer.html' %}
</div>
<div class="inputbox">
{% include 'inputpatient.html' %}
</div>
<div class="inputbox">
    {% include 'diseaseinput.html' %}
</div>
</body>
