<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/inputdrugs" method="POST">
        <h1>Drug Entry</h1>
        {% csrf_token %}
        <label for="drugname">Drug Name</label>
        <input type="text" name="name" class="form-control" placeholder="Drug Name" id="drugname">
        <h5>Manufacturer:</h5>
        <select name="manufacturer" id="manufacturer">
            {% for manufacturer in manufacturers %}
            <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
            {% endfor %}
        </select>
        <h5>Disease:</h5>
        <select name="disease" id="disease">
            {% for disease in diseases %}
            <option value="{{disease.id}}">{{disease.name}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" class="btn btn-success">
    </form>
    <table class="table table-dark">
        <h1>Drugs:</h1>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Diseases</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
            <tr>
                <th scope="row">{{drug.id}}</th>
                <td>{{drug.name}}</td>
                <td>{{drug.manufacturer.name}}</td>
                <td>{{drug.disease.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>