<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
    <form action="/inputgeneric" method="POST">
        <h1>Generic Entry</h1>
        {% csrf_token %}
        <label for="drugname">Generic Name</label>
        <input type="text" name="name" class="form-control" placeholder="Drug Name" id="drugname">
        <h5>Manufacturer:</h5>
        <select name="manufacturer">
            {% for manufacturer in manufacturers %}
            <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
            {% endfor %}
        </select>
        <h5>Drug:</h5>
        <select name="drug" id="drug">
            {% for drug in drugs %}
            <option value="{{drug.id}}">{{drug.name}}</option>
            {% endfor %}
        </select>
        <h5>Disease:</h5>
        <select name="disease" id="disease">
            {% for disease in diseases %}
            <option value="{{disease.id}}">{{disease.name}}</option>
            {% endfor %}
        </select>

        <input type="submit" class="btn btn-success">
    </form>
    <table class="table table-dark">
        <h1>Generics:</h1>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Diseases</th>
            </tr>
        </thead>
        <tbody>
            {% for generic in generics %}
            <tr>
                <th scope="row">{{generic.id}}</th>
                <td>{{generic.name}}</td>
                <td>{{generic.manufacturer.name}}</td>
                <td>{{generic.disease.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>