<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Care Connect</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>

<body>

	{% include 'header.html' %}
	{% include 'sidebar.html' %}
	<div class="rsidebody">
		<h3>Search or Add a New Patient</h3>
		<div class="card-header border-0" id="search_block">
			<form class="care_search" action="/patient">
				<input type="text" placeholder="Search patient by name, date of birth, or drug name" name="search">
				<button type="submit"><span class="glyphicon glyphicon-search" id="search_btn"></span></button>
			</form>
			<button id="patient_btn">+ Add new patient</button>
		</div>
		<div class="table-responsive">
			<table class="table align-items-center">
				<thead>
					<tr id="table_row">
						<th scope="col" class="sort" data-sort="name">Last Name</th>
						<th scope="col" class="sort" data-sort="name">First Name</th>
						<th scope="col" class="sort" data-sort="name">Date of birth</th>
						<th scope="col" class="sort" data-sort="name">Drug Name</th>
						<th scope="col" class="sort" data-sort="name">Program Status</th>
					</tr>
				</thead>
				<tbody>
					{% for patient in patients %}
					<tr>
						<td>{{patient.last_name}}</td>
						<td>{{patient.first_name}}</td>
						<td>{{patient.dob}}</td>
						<td scope="row">Avastin</td>
						<td>{{patient.status}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
</body>

</html>