<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Search</title>
</head>
<body>
    <div class="nav-fill">
        <div class="nav-search-field ">
          <input type="text" id="twotabsearchtextbox" value="" name="field-keywords" autocomplete="off" placeholder="Search for Patients" class="nav-input" dir="auto" tabindex="0" aria-label="Search">
        </div>
        <div id="nav-iss-attach"></div>
      </div>
      <div class="nav-right">
        <div class="nav-search-submit nav-sprite">
          <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite" aria-label="Go">
            <input type="submit" class="nav-input" value="Go" tabindex="0">
          </span>
        </div>
      </div>
</body>
</html>